<template>
  <form name="contact" method="POST" data-netlify="true" action="thankyou">
    <p>
      <v-text-field label="Your Name" type="text" name="name" />
    </p>
    <p>
      <v-text-field label="Your Email" type="email" name="email" />
    </p>
    <p>
      <v-select
        name="role[]"
        multiple
        label="Your Role"
        :items="['Leader', 'Follower']"
      >
      </v-select>
    </p>
    <p>
      <v-textarea
        :auto-grow="true"
        :rows="2"
        name="message"
        label="message"
      ></v-textarea>
    </p>
    <p>
      <v-btn color="success" type="submit">Send</v-btn>
    </p>
  </form>
</template>
