<template>
  <v-form netlify ref="form" v-model="valid" lazy-validation>
    <v-container>
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="お名前"
            name="name"
            single-line
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="6">
          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="メールアドレス"
            name="email"
            single-line
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <v-select
            :items="['~10代', '20代', '30代~']"
            :rules="[v => !!v || '年齢を選択してください']"
            label="年齢"
            required
          ></v-select>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6">
          <v-textarea
            :auto-grow="true"
            :rows="2"
            name="message"
            label="メッセージ"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-checkbox
            :rules="[v => !!v || '利用規約に同意してください。']"
            label="利用規約に同意します"
            required
          ></v-checkbox>
        </v-col>
      </v-row>
      <v-btn color="error" class="mr-4" @click="reset">
        クリア
      </v-btn>
      <v-btn color="success" @click="submit">
        送信<v-icon right dark>mdi-cloud-upload</v-icon>
      </v-btn>
    </v-container>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      valid: true,
      name: "",
      nameRules: [
        v => !!v || "氏名は必須です",
        v => (v && v.length <= 10) || "10文字以内で入力してください"
      ],
      email: "",
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+\..+/.test(v) || "E-mail must be valid"
      ],
      age: "",
      message: "",
      agree: false
    };
  },
  methods: {
    reset() {
      this.$refs.form.reset();
    },
    async submit() {
      try {
        const res = await this.$axios.$get("/.netlify/functions/hello");
        console.log(res);
      } catch (e) {
        console.log(e);
      }
    }
  }
};
</script>
